<form class="ui stacked segment form" action="/playlist/{{playlist.id}}/addsong" method="POST">
  <div class="five fields">
    <div class="field">
      <label>Code</label>
      <input placeholder="Title" type="int" name="code">
    </div>
    <div class="field">
      <label>Temp</label>
      <input placeholder="Artist" type="int" name="temp">
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <input placeholder="Artist" type="double" name="windspeed">
    </div>
    <div class="field">
      <label>Pressure</label>
      <input placeholder="Artist" type="int" name="pressure">
    </div>
    <div class="field">
      <label>Wind direction</label>
      <input placeholder="Artist" type="int" name="winddirection">
    </div>
  </div>
  <button class="ui blue submit button">Add Song</button>
</form>