<form class="ui stacked segment form" action="/station/{{station.id}}/addreading" method="POST">
  <div class="five fields">
    <div class="field">
      <label>Code</label>
      <input placeholder="Code" type="int" name="code">
    </div>
    <div class="field">
      <label>Temp</label>
      <input placeholder="Temperature" type="int" name="temp">
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <input placeholder="Wind speed" type="double" name="windspeed">
    </div>
    <div class="field">
      <label>Pressure</label>
      <input placeholder="Pressure" type="int" name="pressure">
    </div>
    <div class="field">
      <label>Wind direction</label>
      <input placeholder="Wind direction" type="int" name="winddirection">
    </div>
  </div>
  <button class="ui blue submit button">Add Reaing</button>
</form>