
  {{#each stations}}

  <section class="ui stacked segment">
    <h2 class="ui header">
      {{title}}
              {{#each readings}}
                <div class="header">{{title}}</div>
                {{/each}}
        {{#each readings}}
                <div class="header">{{latitude}}</div>
                {{/each}}
       
  </section>
{{/each}}

