{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h1>
    About Weather Top
  </h1>
  <br>
  <section>
    <h2>
      What we do
    </h2>
    <p>
      WeatherTop Inc. produce a modular weather station called the WeatherTop 1000. This low- cost device takes a set of meteorological readings and displays these on a simple LCD display.
      <img class="ui centered medium image" src="icons-2.jpg" >
    </p>
  </section>
  <br>
  <section>
    <h2>
      How we do it
    </h2>
    <p>
      Thanks to our team at Weather Top we are able to deliver a high standard performing product. This is all done through our team of developers and engineers who strive daily to deliver a high-end product for our customers.
      <img class="ui centered medium circular image" src="team.png" >
  </section>
  <br>
  <section>
    <h2>
      Why we do it
    </h2>
    <p>
      Our weather station is not like the weather forecast you see on TV or online. weather top forecast products feature sensors that collect real-time data right outdoor. They are based on weather stations tracking specific weather-related variables, including changes in temperature, humidity and barometric pressure to generate a forecast with pinpoint accuracy personalized for your location.
      <img class="ui centered medium circular image" src="about1.jpg" >
    </p>
  </section>
  </main>
</section>
</section>