{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1>
    Welcome to Weather TopV2
  </h1>
  <img class="ui centered medium image" src="/views/images/icons-2.jpg">
  <h1>
  Sign up or Log in...
  </h1>
</section>