{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{station.title}}
    {{latestTemp.temp}}
  </h2>
  {{> weathercards}}
  {{> listreadings}}
  {{> addreading}}
</section>
